@model AdministracaoShrekPark.Models.FastFoodStore
@{
    ViewData["Title"] = "Detalhes";
}

<h1>Lanches: @Model.Id</h1>
<hr>
<p>Número de lanches: @Model.NumberOfFood</p>
<p>É vegetariano?: @Model.Veggie</p>
<p>Tem batat assada??: @Model.Potato</p>
<p>Localização: @Model.Localization</p>
<a class="btn btn-primary btn-sm"asp-controller="FastFoodStore" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
<hr>