@model IEnumerable<AdministracaoShrekPark.Models.FunFairToy>

@{
    ViewData["Title"] = "BrinquedoParque";
}
<h1>@ViewData["Title"]</h1>


@if(Model.Count() == 0)
{
    <p>Nenhum brinquedo cadastrado</p>
    <a class="btn btn-primary btn-sm"asp-controller="FunFairToy" asp-action="Create">Crie</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantidade de escorregadores</th>
                <th>Quantidade de pedalinhos</th>
                <th>Quantidade de fontes</th>
                <th>Localização</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var funFairToys in Model)
            {
                <tr>
                    <td>@funFairToys.Id</td>  
                    <td>@funFairToys.NumberOfCarousels</td>
                    <td>@funFairToys.NumberOfBumperCars</td>
                    <td>@funFairToys.NumberOfRollerCoasters</td>
                    <td>@funFairToys.Localization</td>
                    <td>
                        <a class="btn btn-primary btn-sm"asp-controller="funFairToy" asp-action="Show" asp-route-id="@funFairToys.Id">Mostrar</a>
                        <a class="btn btn-primary btn-sm"asp-controller="funFairToy" asp-action="Update" asp-route-id="@funFairToys.Id">Atulizar</a>
                        <a class="btn btn-primary btn-sm"asp-controller="funFairToy" asp-action="Delete" asp-route-id="@funFairToys.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a style="width:100%; padding: 10px;"class="btn btn-primary btn-sm"asp-controller="funFairToy" asp-action="Create">Crie</a>
}